<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Terraform Mars</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="jwt">

<nav class="navbar navbar-default" ng-controller="authCtrl as vm">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="welcome">Rover Portal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="main">Main
        <span ng-cloak ng-if="!$root.loggedIn" class="glyphicon glyphicon-lock"></span>
        </a></li>
        <li><a ui-sref="users">Users         <span ng-cloak ng-if="!$root.loggedIn" class="glyphicon glyphicon-lock"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:8080">Terraform Mars</a></li>
        <li ng-show="$root.loggedIn"><a href=""><div ng-click="vm.logout()">Logout</div></a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<ui-view></ui-view>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="app.js"></script>
  <script src="login/LoginCtrl.js"></script>
  <script src="login/loginService.js"></script>
  <script src="main/MainCtrl.js"></script>
  <script src="main/mainService.js"></script>
  <script src="users/UsersCtrl.js"></script>
  <script src="login/authCtrl.js"></script>


</body>
</html>
