<div class="login">
  <form ng-submit="login()">
    <input type="text" ng-model="user.email" placeholder="email">
    <input type="password" ng-model="user.password" placeholder="password">
    <button type="submit">login</button>
  </form>
</div>

<div class="register">
  <form ng-submit="register()">
    <input type="text" ng-model="user.email" placeholder="email">
    <input type="password" ng-model="user.password" placeholder="password">
    <button type="submit">register</button>
  </form>
</div>
